---
hostname: $nodeHostName
ssh_authorized_keys:
  - github:deekue
  - "ssh-ed25519
     AAAAC3NzaC1lZDI1NTE5AAAAIBIMWQez3DYo1jeHOOE3nG7RPllzzpKW2p2R7QwmOaoj
     apathy@chelone"
write_files:
$primaryNodeKubeVipCfg
$nodeProvisionSh
run_cmd:
  - "/root/provision.sh >> /root/provision.log 2>> /root/provision.err"
boot_cmd:
  # enable NFS client
  - "ln -sv /etc/init.d/nfsclient /etc/runlevels/default/nfsclient"
  - "mkdir -p /var/lib/nfs/sm"
k3os:
  modules:
    - kvm
    - nvme
  sysctl:
    kernel.printk: "4 4 1 7"
    kernel.kptr_restrict: "1"
  ntp_servers:
    - 0.us.pool.ntp.org
    - 1.us.pool.ntp.org
  $server_url
  token: $serverToken
  password: "$serverPassword"
  k3s_args:
    - server
    $primaryNodeClusterInit
    - "--tls-san"
    - "$kubeVipAddr"
    - "--tls-san"
    - "$kubeVipHostname"
    - "--disable"
    - "servicelb"
