---
hostname: $nodeHostName
ssh_authorized_keys:
  - github:deekue
  - "ssh-ed25519
     AAAAC3NzaC1lZDI1NTE5AAAAIBIMWQez3DYo1jeHOOE3nG7RPllzzpKW2p2R7QwmOaoj
     apathy@chelone"
write_files:
$primaryNodeKubeVipCfg
$primaryNodeKubeVipCcCfg
$primaryNodeKubeVipCcCm
$nodeProvisionSh
run_cmd:
  - "/root/provision.sh >> /root/provision.log 2>> /root/provision.err"
boot_cmd:
  # enable NFS client
  - mkdir -p /var/lib/nfs/sm
  - rc-update add rpc.statd
  - rc-update add nfsclient
k3os:
  modules:
    - kvm
    - nvme
  sysctl:
    kernel.printk: "4 4 1 7"
    kernel.kptr_restrict: "1"
  dns_nameservers:
    - 192.168.40.254
  ntp_servers:
    - 0.us.pool.ntp.org
    - 1.us.pool.ntp.org
  $server_url
  token: $serverToken
  password: "$serverPassword"
  k3s_args:
    - server
    $primaryNodeClusterInit
    - "--tls-san"
    - "$kubeVipAddr"
    - "--tls-san"
    - "$kubeVipHostname"
    - "--disable"
    - "servicelb"
